.cardPage {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 20px;
}

.cardRow {
    margin-top: 10px;
    width: 480px;
}

